<h1><%= @restaurant.name %></h1>
<p><small><%= @restaurant.address %></small></p>
<h3>
  <%= pluralize @restaurant.reviews.size, "review" %>
</h3>

<div id="reviews">
  <% if @restaurant.reviews.blank? %>
    Be the first to leave a review for <%= @restaurant.name %>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <p id="review-<%= review.id %>">
        <%= review.content %>
        <%#= link_to "Delete", review, method: :delete %>
      </p>
    <% end %>
  <% end %>
</div>

<h3 class="mt-3">Leave a review</h3>
<%= simple_form_for([ @restaurant, @review ]) do |f| %>
  <%= f.input :content %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>